.welcome-tag {
    max-width: 760px;
    margin-top: 15px;
    padding: 1rem 1.4rem;
    border-radius: 14px;
    color: #543535;
    font-size: 25px;
    background-color: #fdcaca;// rgb(223, 255, 196);
  }