<p>courses works!</p>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title> Alexis' Relevant Coursework </mat-panel-title>
        <mat-panel-description> These are the classes Alexis took during her 1st year. </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>Fall 2025:</h3>
        <ul>
        <li> <b>CSE 40:</b> Machine Learning</li>
        <li> <b>CSE 13s:</b> C Programming</li>
        </ul>

        <h3>Winter 2026:</h3>
        <ul>
        <li> <b>CSE 101:</b> Data Structures and Algorithms</li>
        <li> <b>CSE 107:</b> Probability and Statistics</li>
        </ul>

        <h3>Spring 2026:</h3>
        <ul>
        <li> <b>CSE 101m:</b> Computability</li>
        <li> <b>MATH 103a:</b> Complex Analysis</li>
        <li> <b>CMPM 17:</b> Web Development</li>
        <li> <b>CMPM 17:</b> Intro to Hacking</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>
