<div class="welcome-tag">{{name}}'s Resume!</div>
<!-- Go ahead and add your name -->
<div class="container">
   <h2>{{name}}</h2>
   <p>year: {{year}} </p>
   <p>major: {{major}} </p>
<!-- Add a picture of yourself -->
   <img src="images/anteiku.jpeg"/>


<!-- Include leadership positions, skills, or any other sections you
 would like to add to your online resume-->
   <div class="skills">
      <h2>Skills</h2>
      <p> * list of skills...</p>
      <p> * a nother skill...</p>
   </div>

<!-- use list element if you are adding multiple things under each section
 such as Leadership, Skills -->
   <div class="list">
      <h2>Languages:</h2>
      <ol>
         <li>C++</li>
         <li>Python</li>
      </ol>
      <!---->
   </div>

   <mat-accordion>
      <mat-expansion-panel hideToggle>
         <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title> Alexis' Relevant Coursework </mat-panel-title>
            <mat-panel-description> These are the classes Alexis took during her 1st year. </mat-panel-description>
         </mat-expansion-panel-header>
         <h3>Fall 2025:</h3>
         <ul>
            <li> <b>CSE 40:</b> Machine Learning</li>
            <li> <b>CSE 13s:</b> C Programming</li>
         </ul>

         <h3>Winter 2026:</h3>
         <ul>
            <li> <b>CSE 101:</b> Data Structures and Algorithms</li>
            <li> <b>CSE 107:</b> Probability and Statistics</li>
         </ul>

         <h3>Spring 2026:</h3>
         <ul>
            <li> <b>CSE 101m:</b> Computability</li>
            <li> <b>CMPM 17:</b> Web Development</li>
            <li> <b>CMPM 17:</b> Intro to Hacking</li>
         </ul>
      </mat-expansion-panel>
  </mat-accordion>

  <p> 

  </p>
         
</div>