<div class="welcome-tag">{{name}}'s Resume!</div>
<!-- Go ahead and add your name -->
<div class="container">
   <h2>{{name}}</h2>
   <p>year: {{year}} </p>
   <p>major: {{major}} </p>
<!-- Add a picture of yourself -->
   <img src="images/anteiku.jpeg"/>


<!-- Include leadership positions, skills, or any other sections you
 would like to add to your online resume-->
   <div class="list">
      <h2>Skills</h2>
      <p> * list of skills...</p>
      <p> * a nother skill...</p>
   </div>

<!-- use list element if you are adding multiple things under each section
 such as Leadership, Skills -->
   <div class="list">
      <h2>Languages:</h2>
      <ol>
         <li>C++</li>
         <li>Python</li>
      </ol>
      <!---->
   </div>

</div>